<div *ngIf="stolica.serialNumber" class="row col-lg-9">
  <table class="table ">
    <thead>
    <tr>
      <th scope="col">Serial number</th>
      <th scope="col">Date of creating</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{stolica.serialNumber}}</th>
      <td>{{stolica.dateOfCreating | date}} </td>
      <td>
        <button>More info</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!stolica.serialNumber">
  <h3>Add chair:</h3>
  <br>
  <label style="margin-right: 10px">Enter chair serial number: </label>
  <input type="text" [(ngModel)]="serialNumber">
  <button (click)="setUserChair()" style="margin-left: 10px">Add chair</button>
</div>

