.chart{
  height: 500px;
  width: 500px;
}

@media (max-width: 1250px) {
  .chart{
    height: 300px;

    width: 400px;
  }
}

@media (max-width: 1000px) {
  .chart{
    height: 300px;

    width: 400px;
  }
}

@media (max-width: 768px) {
  .chart{
    width: 100%;
  }
}

.red{
  background-color: red;

}

.white{
  color: white;
}
